.br__footer {
    position: relative;
}

.br__footer img{
    width: 100%;
}

.br__footer_container {
    position: absolute;
    bottom: 25px;
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.br__footer_container-logos {
    height: 35px;
    display: flex;
    flex-direction: row;
    margin-right: 175px;
}

.br__footer_container-logos img {
    margin: 0 5px;
}

.br__footer_container p {
    font-size: large;
    font-weight: 480;
    color: white;
}